.mi-popconfirm-especifico .ant-popover-buttons .ant-btn-primary {
    background-color: #4CAF50; /* Nuevo color de fondo para el botón de confirmación */
    border-color: #4CAF50; /* Nuevo color de borde para el botón de confirmación */
}

.mi-popconfirm-especifico .ant-popover-buttons .ant-btn {
    color: #FF5722; /* Nuevo color para el botón de cancelar */
}

.text-style {
    text-align: center;
    max-width: 120px;
    overflow-x: auto;
    white-space: nowrap;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.text-style::-webkit-scrollbar {
    display: none;
}

/* Estilos para el botón de confirmación */
.ant-popover .ant-btn-primary {
    background-color: blue; /* Color de fondo */
    border-color: blue; /* Color del borde */
}

.ant-popover .ant-btn:hover {
    background-color: darkblue; /* Color de fondo más oscuro para el hover */
    border-color: darkblue; /* Color de borde a juego */
}

/* Estilos para el botón de cancelación */
.ant-popover .ant-btn:not(.ant-btn-primary) {
    background-color: #eaeaea; /* Color de fondo */
    color: #011325; /* Color del texto */
    border-color: gray; /* Color del borde */
}



