.debtors-table-container {
    font-family: 'AirportFont', sans-serif; /* Reemplaza con la fuente que consigas */
    color: #39FF14; /* Verde claro, como los tableros de aeropuerto */
    background-color: #000; /* Fondo negro */
    overflow: hidden;
    height: fit-content; /* Ajusta a la cantidad de filas que quieres mostrar a la vez */
}

/* Otras reglas CSS para tu tabla */
